#coach .coach-img-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1.25;
}

#coach .coach-img-wrapper img {
  object-fit: cover;
  position: top;
}
#coach .coach-img-wrapper span {
  position: absolute;
  bottom: 1rem;
  left: 0;
  font-size: 0.75rem;
  padding-inline: 0.5rem;
  color: white;
  font-weight: 700;
}

#coach .coach-rafed {
  max-width: 500px;
  width: 100%;
}

.location-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
}
.location-container .map {
  position: relative;
  width: 100%;
  height: 300px;
}

.location-container .map img {
  object-fit: cover;
}


@media only screen and (min-width: 769px) {
  #coach .coach-img-wrapper {
    float: right;
    width: 50%;
    margin-left: 0.5rem;
  }

  #coach .coach-rafed {
    width: 100%;
    height: 12rem;
    object-fit: cover;
    object-position: top;
  }
  #coach p {
    width: 50%;
  }

  .location-container .map {
    max-width: 50%;
  }
  .location-container .location-info {
    max-width: 33%;
  }
}
