:root {
  --border-radius: 0;

  --foreground-rgb: 51, 51, 51;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --box-shadow: #797979;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
}

main {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

section {
  max-width: 62rem;
  width: 100%;
  padding: 1rem;
}
ul {
  list-style: none;
  padding-left: 0.5rem;
}

li {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 0.5rem;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}
span {
  display: block;
  margin-block: 0.25rem;
}

h1 {
  font-size: 2rem;
}

form {
  margin-inline: auto;
}

details {
  margin-bottom: 1rem;
}

input,
select,
textarea {
  width: 100%;
  padding: 0.25rem 0.5rem;
  min-height: 2.5rem;
  border: 1px solid #808080;
  margin-block: 0.5rem;
  resize: none;
  background-color: rgb(var(--background-end-rgb));
}
input:focus,
select:focus,
textarea:focus {
  outline: solid rgb(132, 209, 235);
}

input[type="checkbox"] {
  width: 1rem;
  outline: none;
}

.text-center {
  text-align: center;
}

.logo {
  position: relative;
  width: 64px;
  aspect-ratio: 1.05;
}

.btn {
  min-width: 100%;
  padding: 1rem;
  margin-right: 0;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  background-color: #333;
  color: #fff;
  text-shadow: 1px 1px #333;
}
.btn:active {
  opacity: 0.5;
}

.btn-primary {
  background-color: red;
}
.btn-secondary {
  background-color: lightgray;
  color: #333;
}
.btn-group {
  margin-block: 1rem;
  width: 100%;
  text-align: center;
}
.btn-group > .btn {
  margin-inline: 0.25rem;
  margin-block: 1rem;
}

#hero {
  min-height: 60svh;
  max-width: 100vw;
  padding: 0;
}

#hero .hero-img-wrapper {
  position: relative;
  width: 100vw;
  height: 60svh;
  background: linear-gradient(white 0%, transparent 25%, white 95%);
}

#hero .hero-img-wrapper img {
  object-fit: cover;
  object-position: center;
  z-index: -1;
}
#hero .hero-img-wrapper .main-img {
  object-position: 0 0;
}

#hero .hero-title {
  width: 100%;
  position: absolute;
  bottom: 1rem;
  left: 0rem;
}
#hero .hero-title h1 {
  max-width: 62rem;
  margin-inline: auto;
  padding-inline: 1rem;
}

.school-intro {
  padding: 1rem;
  max-width: 62rem;
  min-height: 130px;
  margin: auto;
  text-align: center;
}
#register h2:first-child {
  width: 65%;
}
#register h2,
#register p {
  margin: 0;
}
#register hr {
  margin-bottom: 0;
}

#sponsors {
  padding-block-end: 3rem;
}

.player-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.small {
  font-size: 14px;
}

.add-player {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
  text-decoration: underline;
  color: #3366cc;
  margin-block: 0.5rem;
  font-weight: 700;
}
.waiver {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.waiver a {
  text-decoration: underline;
  color: #3366cc;
}

.programs-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-block: 1rem;
  /* font-weight: 500; */
}
.program-container {
  background-color: red;
  color: white;
  width: 18rem;
  height: 24rem;
  padding: 1.5rem 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 1px 1px 5px #333;
  font-weight: 500;
}
.progam-details {
  height: 5rem;
}
.strikethrough {
  position: absolute;
  text-align: center;
  top: -1rem;
  left: -4rem;
  transform: rotate(340deg);
}

.strikethrough:before {
  border-bottom: 0.15rem solid black;
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 50%;
}

footer {
  width: 100%;
  padding: 2rem 1rem;
  background-color: #333;
  color: #f2f2f2;
}

footer .footer-container {
  max-width: 62rem;
  margin-inline: auto;
  text-align: center;
}
footer .footer-container .academy-info {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
}

footer .social-links > * {
  margin-inline: 0.25rem;
}

footer .nav {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form .btn {
  width: 100%;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ball-img {
  width: 64px;
  height: 64px;
}

.divided-container {
  background-color: red;
  color: white;
  max-width: 100vw;
  text-align: center;
}

.divided-container > .container {
  max-width: 62rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.divided-container .container > div {
  position: relative;
  padding-block: 0.5rem;
}

.divided-container .container > div::after {
  display: block;
  content: "";
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0)
  );
  height: 2px;
  width: 100%;
  margin-inline: auto;
  margin-top: 2rem;
}

.divided-container .container > div:last-child::after {
  display: none;
}
.check-mark {
  width: 1.25rem;
  height: 1.25rem;
  min-width: 1.25rem;
  color: green;
}

@media only screen and (min-width: 769px) {
  #hero .hero-img-wrapper .main-img {
    object-position: center;
  }

  .divided-container .container {
    flex-direction: row;
    margin-inline: auto;
  }
  .divided-container .container > div {
    border-right: 1px solid #fff;
    width: 100%;
    padding: 0.5rem 1rem;
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .divided-container .container > div:last-child {
    border-right: none;
    width: 100%;
  }
  .divided-container .container > div::after {
    content: none;
  }

  footer .footer-container {
    flex-direction: row;
  }
}

@media only screen and (min-width: 571px) {
  footer .nav {
    gap: 1rem;
    flex-direction: row;
  }
}
