nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 0.5rem;
  width: 100%;
  z-index: 1;
}

nav .logo-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

nav .logo-container h1 {
  margin: 0;
  font-size: 1.5rem;
}

nav .logo-container span {
  position: absolute;
  bottom: 0.3rem;
  right: 2.25rem;
  font-style: italic;
  font-size: 0.85rem;
}

nav .nav-links {
  display: none;
}
nav .nav-links > * {
  padding: 0.5rem;
  margin-inline: 0.25rem;
  border-radius: var(--border-radius);
  transition: color 0.2s ease-in-out;
  font-weight: bold;
}
nav .nav-links a:hover,
nav .nav-links a:focus {
  color: red;
}

nav .mobile-nav-btn {
  position: relative;
  margin-left: auto;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}

nav .burger-icon {
  display: flex;
  width: 100%;
  height: 0.1rem;
  border-radius: 0.5rem;
  transition: transform 0.5s ease-in-out;
  background-color: rgb(var(--foreground-rgb));
}

nav .burger-icon::before,
nav .burger-icon::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.1rem;
  border-radius: 0.5rem;
  background-color: rgb(var(--foreground-rgb));
  transition: transform 0.25s ease-in-out;
}

nav .burger-icon::before {
  transform: translateY(-0.4rem);
}

nav .burger-icon::after {
  transform: translateY(0.4rem);
}

nav .mobile-nav-btn.open .burger-icon {
  transform: translateX(0.5rem);
  background-color: transparent;
}

nav .mobile-nav-btn.open .burger-icon::before {
  transform: rotate(45deg) translate(-0.5rem, 0.5rem);
}

nav .mobile-nav-btn.open .burger-icon::after {
  transform: rotate(-45deg) translate(-0.5rem, -0.5rem);
}

nav .sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  height: 100svh;
  background-color: rgb(var(--background-start-rgb), 0.85);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  white-space: nowrap;
}

nav .sidebar > * {
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
}

nav .sidebar.open {
  width: 100vw;
}

nav .flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
} 
nav .call-btn-nav {
  display: none;
  padding: 0.5rem;
}

nav .active {
  color: red;
}

nav .nav-icons{
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  margin: 0;
  padding: 0;
}

nav .nav-icons  li a{
  width: 38px;
  height: 38px;
  border-radius: 0.5rem;
  color: #fff;
}

.call-btn {
  background-color: red;
}

.whatsapp-btn {
    background: #25D366;
}


@media only screen and (min-width: 1080px) {
  nav .mobile-nav-btn {
    display: none;
  }
  nav .nav-links {
    display: flex;
  }
  nav .flex-reverse {
    flex-direction: row-reverse;
  }
}
@media only screen and (min-width: 571px) {
  nav .call-btn-nav {
    display: flex;
  }
}
